<%- include ../includes/header.html%>

<%= title%>

<div class="container">
    <div class="row">
        <% movies.forEach(function(item){%>


        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="<%= item.poster%>" alt="...">
                <div class="caption">
                    <h3><%= item.title%></h3>
                    <p></p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">查看</a></p>
                </div>
            </div>
        </div>
        <% })%>

    </div>
</div>

<%- include ../includes/footer.html%>